.section-links {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  padding: 1rem 0;
  gap: 1rem;
  margin-top: 1rem;
}

.btn {
  padding: 0.6rem 1.2rem;
  border: 2px solid #333;
  text-decoration: none;
  font-weight: bold;
  border-radius: 5px;
  transition: background 0.3s, color 0.3s;
}

.btn-outline-dark {
  background-color: transparent;
  color: #333;
}

.btn-outline-dark:hover {
  background-color: #333;
  color: white;
}
